.header {
    background-image: linear-gradient(to bottom, #4d4c4c4f , #000) , url(../img/Img-Header.jpg);
    background-size: cover;
    grid-column: 1 / -1;
    color: white;
    font-size: 25px;
    display: grid;
    grid-template-rows: repeat(3 , min-content);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 200px 0;
    margin-bottom: 20px;
}

.header-text2-1 {
    color: orange;
}

.header-btn {
    font-size: 15px;
    padding: 20px;
    background-color: orange;
    color: white;
    border: 0;
    border-radius: 5px;
    justify-self: center;
    transition: all 0.4s;
}

.header-btn:hover {
    background-color: white;
    color: orange;
}

@media screen and (max-width:450px) {
    .header-text2 {
        font-size: 35px;
    }

    .header-btn {
        padding: 10px;
    }
}