@font-face {
    font-family: HKGrotesk;
    src: url(../font/HKGrotesk-Medium.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 25px; */
    font-family: HKGrotesk;
}

.container {
    display: grid;
    grid-template-rows: 80vh repeat(5 , max-content);
    grid-template-columns: repeat(6 , 1fr);
}

.section-title {
    font-size: 30px;
    color: orange;
    text-align: center;
    padding: 20px;
}

.section-title::before,
.section-title::after {
    content: "";
    background-color: black;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 5%;
}